# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# log files
*.log

# dump files
*.dmp

# makefile
Makefile
CMakeCache.txt
cmake_install.cmake

ccserver/query.pb.cc
ccserver/query.pb.h
ccserver/*.ilk
ccserver/*.pdb
ccserver/*.exp
ccserver/*.lib


/.vs/
/x64/
/ccserver/x64/
/ccserver/.vscode/
/.vscode/
/ccserver/CMakeFiles/
/enc_temp_folder/
/ccserver/build/
